<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container">
    <a class="navbar-brand text-white" href="/"><i class="bi bi-arrow-left me-2"></i>{{{ appName }}}</a>
  </div>
</nav>
<div class="container">
  <div class="d-flex justify-content-between my-3">
    <h1><span class="display-4 mx-3"><i id="icon"></i></span><span id="title" class="display-4 fw-normal"></span><span class="display-4 mx-3">-</span><a style="text-decoration: none; color: var(--bs-heading-color);" id="subtitle"
        class="display-4" target="_blank" data-bs-toggle="tooltip" data-bs-title="Click to view barcode" data-bs-placement="bottom"></a></h1>
    <h1 id="barcode"><img id="image" style="width: 4em;"></h1>
  </div>
  <table class="table">
    <tbody>
      {{#each asset}}
      <tr>
        <th scope="row">{{@key}}</th>
        <td id="v_{{@key}}">{{this}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
<script>
  let asset = {{{ assetJson }}};
  document.title = asset._id + " - {{{ appName }}}";
</script>
<script src="js/showdown.min.js"></script>
<script src="js/datamatrix.js"></script>
<script src="js/assetBuilder.js"></script>